server:
  port: 8086

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/service-driver-user?characterEncoding=utf-8&serverTimezone=GMT%2B8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  application:
    name: service-driver-user
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
logging:
  level:
    com.baomidou.mybatisplus: INFO
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl