server:
  port: 8089

spring:
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
  application:
    name: service-order

  datasource:
    password: root
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/service-order?characterEncoding=utf-8&serverTimezone=GMT%2B8

  redis:
    password: 123
    database: 0